// flowElement
// -----------

@import 'mixins'

flow
.flow
  display inline-block
  box-sizing border-box
  micro-clearfix()

  &[fill=horizontal]
  &[data-fill=horizontal]
  .flow-fill--horizontal
    display block

  &[fill=vertical]
  &[data-fill=vertical]
  .flow-fill--vertical
    height 100%

  &[fill=both]
  &[data-fill=both]
  .flow-fill--both
    display block
    height 100%

  &[dir=left]
  &[data-dir=left]
  .flow-dir--left
    float left

  &[dir=right]
  &[data-dir=right]
  .flow-dir--right
    float right

  &[dir=center]
  &[data-dir=center]
  .flow-dir--center
    position relative
    left 50%
    transform translateX(-50%)

  &[content=vertical]
  &[data-content=vertical]
  .flow-content--vertical
    inline-center()
  
  &[content=horizontal]
  &[data-content=horizontal]
  .flow-content--horizontal
    text-align center
    > *
      display inline-block
    

  // Debug
  // ---------------------------

  &[debug]
    position relative
    border 1px solid rebeccapurple
    padding 10px
  
    &:after
      content 'flow'
      position absolute
      display inline-block
      right 0
      top -1px
      transform translateX(100%)
      background-color rebeccapurple
      color white
      font-size 10px
      font-style italic
      padding 5px 10px